p {
    font-family: georgia;
    font-weight: 400;
    font-size: 20px;
    color: #777;
    margin: 0 0 0 0;
    line-height: 1.5em;
    text-align: justify;

    padding: 0px 45px 20px 45px;
    border-left: 1px dashed #9bbec0;
}

ul {
    padding: 0px 45px 20px 100px;
    border-left: 1px dashed #9bbec0;
}

li {
    font-family: georgia;
    font-weight: 400;
    font-size: 20px;
    color: #777;
    margin: 0 0 0 0;
    line-height: 1.5em;
    text-align: justify;
}

h1 {
    font-family: georgia;
    font-weight: 600;
    font-size: 36px;
    color: #555;
    margin-bottom: 0px;
    margin: 25px 0 0 0;
    padding: 0 25px 10px 22px;
    border-left: 3px solid #008891;
}

h2 {
    font-family: georgia;
    font-weight: 600;
    font-size: 28px;
    color: #666;
    margin: 0 0 0 0;
    /* margin-bottom: 0px; */
    padding: 0 25px 10px 23px;
    border-left: 2px solid #9bbec0;
}

h4 {
    font-family: helvetica;
    font-weight: 400;
    font-size: 16px;
    color: #555;
}

.article_wrapper {
    padding: 25px;
    display: block;
}

.footer > p {
    border: none;
    text-align: center;
    font-size: 16px;
    padding-top: 16px;
}

.img_wrapper {
    width: auto;
    text-align: center;
    padding: 15px 0px;
}

.img_wrapper_left {
    width: auto;
    text-align: left;
    padding: 0px 0px 20px 75px;
}

.dashed {
    border-left: 1px dashed #9bbec0;
}

.category_entry_title {
    font-family: georgia;
    font-weight: 600;
    font-size: 48px;
    color: #555;
    margin-right: 20px;
}

#in_progress {
    font-family: "Courier New";
    font-size: 24px;
    color: blue;
}

#complete {
    font-family: "Courier New";
    font-size: 24px;
    color: green;
}

#idle {
    font-family: "Courier New";
    font-size: 24px;
    color: red;
}

#concept {
    font-family: "Courier New";
    font-size: 24px;
    color: blue;
}

#poetry {
    margin: 0 auto;
}

.a {
    color: blue;
}

.writing_wrapper > p{
    /* padding-left: 100px;
    padding-right: 100px; */
    text-indent: 100px;
}
