html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #008891;
    height: 100%;
    display: block;
}

div {
    display: block;
    margin: auto;
}

#bigger_container {
    height: 100%;
}

#container {
    min-width: 1000px;
    max-width: 1400px;
    height: 100%;
    position: relative;
}

.button_wrapper {
    position: relative;
    margin-bottom: -50px;
}

.hello {
    position: absolute;
    font-family: georgia;
    font-weight: 600;
    font-size: 90px;
    color: #f7f7f1;
}

.welcome {
    position: absolute;
    font-family: georgia;
    font-weight: 300;
    font-size: 40px;
    color: #f7f7f1;

    /* border-bottom: 1px solid #e2e2e2; */
}

.featured {
    font-family: georgia;
    font-weight: 600;
    font-size: 48px;
    color: #008891;
    margin: 40px 0 -60px 0;
    padding: 0 25px 0 25px;
}

.pour {
    position: absolute;
    background: #9bbec0;
    width: 0px;
    bottom: 600px;
    left: 0px;
    height: 1000px;
}

.button {
    position: relative;
    top: -175px;
    left: 300px;

    border-radius: 4px;
    background-color: #008891;
    border: none;
    color: white;
    text-align: center;

    font-size: 32px;
    font-weight: 600;
    font-family: georgia;
    border-radius: 25px;

    width: 175px;
    transition: all 0.5s;
    z-index: 100;

    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:focus {
    outline: none;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#steam {
    position: absolute;
    width: 160px;
    height: 200px;
    bottom: 260px;
    left: 400px;
    /* background: #822;
    mix-blend-mode: multiply; */
    opacity: 0;
}

.preserve_whitespace {
    white-space: pre-wrap;
}

#path274 {
    stroke: #f7f7f1;
    stroke-opacity: 1;
    stroke-dasharray: 2000;
    stroke-dashoffset: 3000;
    animation: dash 28s ease forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.coffee_cup {
    position: absolute;
    bottom: 300px;
    left: 104px;
}
